note.txt


                    sudo docker build .;
                    echo "image built"
                    sudo docker run -d -p 3000:3000 node:12;
                    echo "checking the container is online"
                    sudo docker container ls;
                    echo "container is running now";